<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>error</title>
  <!-- <link rel="stylesheet" href="../static/error.css"> -->
    <link rel="stylesheet" href="{{url_for('static',filename='error.css')}}">

  </head>
  <body>
    <div id="wrapper">

    <h1> Can't find the word or Wrong word</h1>
    <div>
      <a href="/">Back to the search page</a>
    </div>
    
    <div class="img">
    </div>
  </div>
  </body>
</html>
