<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Remote Job Searching</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <header>
      <h1> Searching for Remote job in 3 websites</h1>
      <h3>
          <h2>Used Websites </h2>
          <a href="https://stackoverflow.com">stackoverflow</a>
          <a href="https://weworkremotely.com">weworkremotely</a>
          <a href="https://remoteok.io">remoteok</a>
      </h3>
    </header>
    <main>
      <form action="/result" method="get">
        <input
          type="text"
          name="job"
          placeholder="what kind of stack do you want?"
        />
        <button>Search</button>
      </form>
    </main>
  </body>
</html>
